<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head (pageTitle = 'Completed')}">
</head>
<body>
<div class="wrapper">

    <div th:replace="~{fragments/layout :: header}"></div>

    <main class="main-flex-type">
        <div class="code-window">
            <div class="logo-text">
                RateUTeacher
            </div>
            <br>
            <h2>Спасибо за участие в опросе!</h2>
            <br>
            <a th:href="@{/}">Вернуться на главную</a>
            <br>
            <a th:href="@{/ratings}">Посмотреть текущие рейтинги</a>
        </div>
    </main>

    <div th:replace="~{fragments/layout :: footer}"></div>

</div>
</body>
</html>